<h1 class="head">Sign-In</h1>
<form class="login-form">
     <div>
     <label>Username :</label>
     <input type="text" name="username">
</div>
     <div>
          <label>Password :</label>
          <input type="password" name="Password">
    </div>
    <button class="btn btn-success">Login</button><br>
<div id="g_id_onload"
     data-client_id="761490621767-l6g3all2cd4ccc7cjl8893lmcj7hlro7.apps.googleusercontent.com"
     data-context="use"
     data-ux_mode="popup"
     data-login_uri="localhost:3000/api/login"
     data-auto_select="true"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="filled_blue"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>
</form>
